# Grunt usually preprocesses files such as coffeescript, compass... inside the .tmp directory
.tmp/


### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### NPM Modules ###
node_modules/

### Project Specific ###
ckeditor/
jquery/
